<nav class="relative py-3 bg-primary-600 mb-3">
	<div class="px-4 flex flex-wrap items-center justify-between">
		<div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">
			<a class="flex items-center gap-2 text-sm font-bold leading-relaxed inline-block py-2 whitespace-nowrap uppercase text-white" routerLink="/">
				<img alt="logo" src="/assets/logo.png" width="24">
				<span>PPlanner</span>
			</a>
			<button (click)="toggleNavbar()" class="text-white cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none" type="button">
				<i class="fas fa-bars"></i>
			</button>
		</div>
		<div [ngClass]="{'hidden': !showMenu, 'flex': showMenu}" class="lg:flex lg:flex-grow lg:flex-row flex-col lg:items-center">
			<ul class="flex flex-col lg:flex-row list-none">
				<li class="nav-item">
					<a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" routerLink="/ui-test">
						<i class="fab fa-uikit text-lg leading-lg text-white opacity-75"></i>
						<span class="ml-2">UI</span>
					</a>
				</li>
			</ul>
			<ul class="flex flex-col lg:flex-row list-none ml-auto">
				<ng-template [ngIf]="authService.isLoggedIn()">
					<li class="nav-item">
						<a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" routerLink="/contact">
							<i class="fas fa-phone-alt text-lg leading-lg text-white opacity-75"></i>
							<span class="ml-2">Contacter</span>
						</a>
					</li>
					<li class="nav-item">
						<button (click)="authService.logout()" class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75">
							<i class="fas fa-power-off text-lg leading-lg text-white opacity-75"></i>
							<span class="ml-2">Deconnexion</span>
						</button>
					</li>
				</ng-template>

				<ng-template [ngIf]="!authService.isLoggedIn()">
					<li class="nav-item">
						<a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" routerLink="/login">
							<i class="fas fa-user-circle text-lg leading-lg text-white opacity-75"></i>
							<span class="ml-2">Connexion</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" routerLink="/register">
							<i class="fas fa-address-card text-lg leading-lg text-white opacity-75"></i>
							<span class="ml-2">Inscription</span>
						</a>
					</li>
				</ng-template>
			</ul>
		</div>
	</div>
</nav>

<div class="px-4">
	<router-outlet></router-outlet>
</div>
