<section class="card max-w-2xl mx-auto">
	<section class="card-header text-center">
		<h3 class="text-2xl font-bold">Nous contacter</h3>
		<h4 class="text-lg text-primary">Renseignez le formulaire ci-dessous si vous désirez nous contacter</h4>
	</section>

	<form (ngSubmit)="contact()" [formGroup]="form">
		<section class="card-content">
			<div class="flex gap-5">
				<div class="form-group">
					<label class="form-label required" for="name">Nom</label>
					<input class="form-input w-full" formControlName="name" id="name" type="text">
					<div class="form-error">
						<span *ngIf="form.hasError('required', 'name')">Le nom est requis</span>
					</div>
				</div>
				<div class="form-group">
					<label class="form-label required" for="email">Email</label>
					<input class="form-input w-full" formControlName="email" id="email" type="email">
					<div class="form-error">
						<span *ngIf="form.hasError('required', 'email')">L'email est requis</span>
						<span *ngIf="form.hasError('email', 'email')">L'email n'est pas au bon format</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="form-label required" for="message">Message</label>
				<textarea class="form-textarea w-full" formControlName="message" id="message" type="text"></textarea>
				<div class="form-error">
					<span *ngIf="form.hasError('required', 'message')">Le message est requis</span>
				</div>
			</div>
		</section>

		<section class="card-actions text-center">
			<button [disabled]="form.invalid" color="primary" twButton type="submit">Envoyer le message</button>
		</section>
	</form>
</section>
