<div class="flex gap-2">
	<button (click)="modal.toggleModal()" [outlined]="true" color="primary" twButton>Show modal</button>
	<button color="secondary" twButton>Annuler</button>
</div>

<tw-modal #modal size="screen-xl">
	<div class="font-bold" title>Modal de test</div>

	<div content>
		<p>Voici un contenu sur plusieurs lignes :</p>

		<p class="py-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam assumenda dignissimos esse est explicabo facilis fugiat fugit, inventore iusto laudantium, magni numquam praesentium, quaerat quo rem sapiente soluta suscipit!</p>
		<p class="py-2"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni maxime porro quia voluptas voluptatibus! Consectetur enim fugit iure minus nobis officiis quos temporibus vero voluptates voluptatum. Enim impedit quasi veniam?</span><span>A, quas quis? Accusamus, adipisci consequatur cum eaque fugiat magnam, maxime minus nam nostrum officiis pariatur praesentium, reiciendis saepe! Autem eveniet explicabo maiores qui repellendus suscipit voluptatibus! Dolorum, neque, nulla.</span>
		</p>
		<p class="py-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus distinctio est fugiat incidunt, laboriosam nisi placeat porro? Consequatur fugit impedit minus omnis, ullam ut. Consectetur delectus earum laborum quisquam velit!</p>
		<p class="py-2"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid at culpa delectus eius iure laborum, magnam maiores necessitatibus optio quisquam, quo temporibus ut? Eaque eos fugit nihil praesentium quam!</span><span>Aliquam consequatur consequuntur cumque debitis dolorem, doloremque eaque earum eius error esse ex exercitationem laudantium maiores minima molestiae mollitia necessitatibus nisi non placeat quibusdam quos ratione repellendus similique tenetur velit!</span><span>Accusamus, asperiores assumenda beatae, blanditiis cumque delectus, dicta ducimus ea error excepturi ipsa itaque labore magni nam nihil sint suscipit ut veniam voluptas voluptates. Animi doloremque exercitationem id optio placeat!</span>
		</p>
		<p class="py-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus distinctio hic omnis ratione voluptatum? Aperiam corporis distinctio earum eligendi eos et facilis, harum nihil, nobis officiis quis voluptatem voluptates. Dolor.</p>
		<p class="py-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur cumque eaque earum eum ex iusto laudantium nihil perspiciatis quidem, quis sapiente sit velit veniam veritatis vero vitae voluptatem voluptates?</p>
		<p class="py-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dignissimos eos excepturi fuga quis ratione repellendus reprehenderit sapiente vel voluptatem! Aliquid ea eum ex magni nisi quasi, quos veniam vero!</p>
	</div>

	<div actions class="flex gap-2">
		<button (click)="modal.toggleModal()" color="danger" twButton>Close</button>
		<button (click)="modal.toggleModal()" color="primary" twButton>Save Changes</button>
	</div>
</tw-modal>
