<div class="flex flex-col gap-5 items-center text-center pt-10 h-full w-full bg-primary-200 px-4 lg:px-16">
	<div class="text-9xl text-secondary font-bold">Oops...</div>
	<div class="text-5xl text-secondary font-bold">Erreur 404</div>
	<div class="text-lg text-secondary font-bold">La page recherchée n'est pas disponible ou n'existe pas ... Veuillez vérifier l'adresse ou cliquez ci-dessous pour retourner à la page d'accueil</div>

	<a class="mt-10" color="secondary" routerLink="/" twButton>Page d'accueil</a>
</div>
