$colors: primary, secondary, success, info, warn, danger;

html, body, #__nuxt, #__layout {
	@apply text-gray-700 text-xs h-full antialiased;
}

@layer components {

	@import 'components/animation';
	@import 'components/button';
	@import 'components/form';

}

.p-container {
	@apply flex flex-col w-full pt-4;
}
